/* ==========================
   𓆩⍣⃝ 𝙉𝙊𝘾𝙏𝙍𝘼⍣⃝ 𓆪
   Desarrollado por Bennett
========================== */

:root{

    --bg:#09090f;
    --surface:#141421;
    --surface2:#1b1b2b;

    --primary:#7c3aed;
    --secondary:#00d4ff;

    --text:#ffffff;
    --muted:#9ca3af;

    --success:#22c55e;
    --danger:#ef4444;

    --radius:18px;

    --transition:.30s;

    --shadow:0 12px 35px rgba(0,0,0,.35);

}

*{

    margin:0;
    padding:0;
    box-sizing:border-box;

    font-family:"Poppins",sans-serif;

}

html{

    scroll-behavior:smooth;

}

body{

    background:var(--bg);

    color:var(--text);

    overflow-x:hidden;

    min-height:100vh;

}

img{

    max-width:100%;

    display:block;

}

button{

    font-family:inherit;

    cursor:pointer;

}

input,
textarea,
select{

    font-family:inherit;

}

a{

    color:inherit;

    text-decoration:none;

}
